.main-container {
    height: 100vh;
    width: 100vw;
}

.main-container-content {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: calc(100vh - var(--height-nav-bar));
}

.main-container-space-left {
    height: calc(100vh - var(--height-nav-bar));
    width: var(--width-space-left);
    background: var(--accent-background);
}

@media (max-width: 500px) {
    .main-container-space-left{
        display: none;
    }
}